p {
    text-align: center;
    max-width: 300px;
}

img {
    max-width: 300px;
    text-align: center;
    background-color: fuchsia;
}

body {
    height: 100%;
    background-color: fuchsia;
    display: table-cell;
    vertical-align: middle;
}

html {
    display: table;
    margin: auto;
}

.content {
    background-color: greenyellow;
    padding: 40px;
}

button {
    background-color: red;
    color: aqua;
    padding: 30px;
}
